.intro-2 {
    background: url(/timmyt/img/bgimage.jpg)no-repeat center center;
    background-size: cover;
}
.navbar {
    z-index: 1;
    background-color: transparent;
}
.top-nav-collapse {
    background-color: #4285F4;
}
html,
body,
header,
.view {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

#content{  
    margin-left: auto;
    margin-right: auto;
    padding:10px;
}

ul,li{
 padding:10px;
}

.school_logo{
    width:200px;
    max-width:200px;
    height:auto;
}

.edu-card{
    width: 800px;
    height: auto;
    margin:5px;
}
#edu-cont{
    width: 30%;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction:column;
}
.card-text{
  margin:auto;
  text-align:center;
}

.skill-card{
  width:150px; 
  height:150px;
  display:inline-block;
  margin: 1px;
  position: relative;
  border: 2px solid Chartreuse;
  border-radius: 25px;
  overflow:hidden;
}

.overlay {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008CBA;
}

.tooltip-test:hover{
  opacity: 0.5;
}

.skill-card:hover .overlay{
  opacity:1;
}

@media only screen and (max-width: 700px) {
    .fos{
        width:100%;
    }
    .navbar {
        background-color: #4285F4;
    }
    .edu-card{
        width: 100%;
        height: auto;
        margin:5px;
    }
    #edu-cont{
        width: 100%;
        height: auto;
        display:inline-flex;
        flex-direction:column;
    }
    #aboutme {
        width: 100%;
    }
    #edu{        
        width: 90%;
    }    
    #skills{        
        width: 100%;
    }
    
    #prof{        
        width: 100%;
    }
}

/* Animation*/
@-webkit-keyframes fadein{ 
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  } 
}

@-webkit-keyframes LToR{ /*16s*/
  0% {      /*0s*/
    right:100%;
    opacity:0;
  }
  25%{    /*2s*/
    right:0%;
    opacity:1;
  }
  50%{   /*4s*/
    right:0%;
    opacity:1;
  }
  75% {     /*6s*/
    right:-100%;
    opacity:0;
  }
  100%{    /*8s*/
    right:-100%;
    opacity:0;
  }
}

.AniFadeIn{  
  -webkit-animation-name:fadein;
  -webkit-animation-duration:2s;
}

.AniLToR{
  right:0%;
  position:relative;
  -webkit-animation:LToR 8s infinite;
  text-shadow: 2px 2px black;
}
