#sidebar{
  left:20px;
  width:20%;
  position: fixed;
  margin:auto;
  height:100%;
}
#content{  
  margin-left: 25%;
}
.school_logo{
  width:200px;
}
.card{
  padding:1rem;
  margin: 1rem;
  float:left;
}
.card-text{
 margin:auto; 
}
