html {
  scroll-behavior: smooth;
}

#sidebar{
  left:20px;
  width:20%;
  position: fixed;
  margin:auto;
  height:100%;
}

#content{  
  margin-left: 25%;
}

ul,li{
 padding:10px;
}

.school_logo{
  width:200px;
}

.edu-card{
  padding:5px;
  margin: 1rem;
}

.card-text{
  margin:auto;
  text-align:center;
}

.skill-card{
  width:200px; 
  height:200px;
  display:inline-block;
  margin: 1px;
  position: relative;
  border: 2px solid Chartreuse;
  border-radius: 25px;
  overflow:hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008CBA;
}

.maxsize-image{
  max-width:190px;  
  max-height:190px;
  overflow:hidden;
}

div.bg-img{
  width:800px;
  height:600px;
  background-image: url(/timmyt/image/background-image.jpg );
  background-repeat: no-repeat;
  background-size: auto;
}

.tooltip-test:hover{
  opacity: 0.5;
}

.skill-card:hover .overlay{
  opacity:1;
}

/* Animation*/
@-webkit-keyframes fadein{ 
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  } 
}

@-webkit-keyframes LToR{ /*16s*/
  0% {      /*0s*/
    right:100%;
  }
  12.5%{    /*2s*/
    right:0%;
  }
  18.75%{   /*3s*/
    right:0%
  }
  25% {     /*4s*/
    right:-100%;
  }
  100%{    
    right:-100%;
  }
}

@-webkit-keyframes ScrollDown{ /*16s*/
 0%{ /*0s*/
    top:-25%;
  }
  18.75% {/*3s*/
    top:-25%;
  }
  25% {/*4s*/
    top:20%;
  }
  50%{/*8s*/
    top:40%;
  }
  56.25%{/*9s*/
    top:100%;
  }  
  100%{
    top:100%; 
  }
}

@-webkit-keyframes Rot{ /*16s*/
 0%{ /*0s*/
   left:-20%;
  }
  25% {/*3s*/
    left:-20%;
  }
  50%{
    left:25%;
    transform:rotate(360deg);
  }
  62.5%{    
    left:25%;
  }
  75%{
    left:100%;
    transform:rotate(360deg);
  }
  100%{
    left:100%;
  }
}

@-webkit-keyframes ScaleUp{ /*16s*/
 0%{ /*0s*/
   transform: scale(0);
  }
  50%{    
   transform: scale(0);
  }
  62.5%{    
   transform: scale(1);
  }
  75%{    
   transform: scale(1);
  }
  87.5%{
   transform: scale(0); 
  }
  100%{
   transform: scale(0); 
  }
}

.AniFadeIn{  
  -webkit-animation-name:fadein;
  -webkit-animation-duration:2s;
}

.AniLToR{
  right:0%;
  position:relative;
  -webkit-animation:LToR 16s infinite;
}

.AniDown{
  left:10%;
  position:relative;
  -webkit-animation:ScrollDown 16s infinite;  
}

.AniRot{
  top:20%;
  position:relative;
  -webkit-animation:Rot 16s infinite;  
}
.AniScale{
  position:relative;
  top:20%;
  left:80%;
  -webkit-animation:ScaleUp 16s infinite;  
}
